<div id='container'>
  <h1>Foods</h1>
  <table>
    <th>Food</th><th>Rating</th>
  <div class="foods">
    <tr class="foodList" ng-repeat="eachFood in data.foods" ng-click="setSelected(eachFood)" >
    <!-- data.foods...data is something in $scope, foods is an array of rows 

    when clicked (event) -->
          
        <td><div class="name">{{ eachFood.name }}</div></td>
        <!-- eachFood is an iterator-a food row. Name is a property -->
        <td><div class="balance">{{ eachFood.balance }}</div></td>     
    
    </tr>

  </div>
  </table>
  <h2>Selected Food:</h2>
  
   
  selected Name: {{selectedFood.name}}
  <!-- <table>
    <th>Food</th><th>Rating</th>
    <div class="foods">
    <tr class="ratingList" ng-repeat="eachRating in data.ratings" ng-click="setSelected(eachRating)" >
          
        <td><div class="location">{{ eachRating.location }}</div></td>
        <td><div class="fatigue">{{ eachRating.fatigue }}</div></td>     
    
    </tr> -->

  <h2>That's all folks!!!</h2>
</div>