body {
    font-family: 'Raleway', sans-serif;
    background-color: #fff7f5;
    color: #2d0f05;
    font-size: 12pt;
    line-height: 30px
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}
h1 {
    letter-spacing: 1px;
    font-size: 45px;
}
h2 {
    font-style: italic;
}

.title-row {
    text-align: center;
    background-color: #2d0f05;
    color: #fff7f5;
    padding-top: 50px;
    padding-bottom: 50px;
}


#green-bar {
    height: 50px;
    background-color: #AFBD63;
}


a {
    color: #AFBD63;
}

