
<div class="col-xs-12  col-sm-4">
  <table>
    <th><h1>Project:</h1></th>
  <div class="projects">
    <tr class="projectList" ng-repeat="eachProject in data.projects" ng-click="setSelected(eachProject)" >
    <!-- data.projects...data is something in $scope, projects is an array of rows 

    when clicked (event) -->
          
        <td><div class="name"><h4>{{ eachProject.title }}</h4></div></td>
        <!-- eachProject is an iterator-a project row. Name is a property -->
        <!-- <td><a ui-sref="projects.{{eachProject.id}}">see skills</a><div ui-view="relatedskills"></div></td> -->
        <!-- <td>
          <ul class="relatedSkills" ng-repeat="eachRelatedSkill in data.relatedSkills">
            <li class="title">{{ eachRelatedSkill.title }}</li>
          </ul>
        </td> -->
    
    </tr>

  </div>
  </table>
</div>
<div class="col-xs-12 col-sm-8 detail-box">
  <h3>Selected Project:</h3>
  <h2>{{ selectedProject.title || "click a project to select" }}</h2>
  <hr>
   
   <div class="relatedSkills" ng-repeat="eachRelatedSkill in data.relatedSkills">
           <h4><a href="{{ eachRelatedSkill.github }}" target="blank" class="title">{{ eachRelatedSkill.name }}</a></h4>
              <p>{{ eachRelatedSkill.description }}</p>
            
          </div>

</div>
