<div class="col-xs-12  col-sm-4">
  <h1>Kat's Skills</h1>
  <table>
  <div class="skills">
    <tr class="skillList" ng-repeat="eachSkill in data.skills" ng-click="setSelected(eachSkill)" >
    <!-- data.skills...data is something in $scope, skills is an array of rows 

    when clicked (event) -->
          
        <td><div class="name"><h4>{{ eachSkill.name }}</h4></div></td>
        <!-- eachSkill is an iterator-a skill row. Name is a property -->
        <!-- <td><a ui-sref="skills.{{eachSkill.id}}">see projects</a><div ui-view="relatedprojects"></div></td> -->
        <!-- <td>
          <ul class="relatedProjects" ng-repeat="eachRelatedProject in data.relatedProjects">
            <li class="title">{{ eachRelatedProject.title }}</li>
          </ul>
        </td> -->
    
    </tr>

  </div>
  </table>
</div>
<div class="col-xs-12 col-sm-8 detail-box">
  <h3>Selected Skill:</h3>
  <h2>{{ selectedSkill.name || "click a skill to select" }}</h2>
  <hr>
   
   <div class="relatedProjects" ng-repeat="eachRelatedProject in data.relatedProjects">
           <h4><a href="{{ eachRelatedProject.github }}" target="blank" class="title">{{ eachRelatedProject.title }}</a></h4>
              <p>{{ eachRelatedProject.description }}</p>
            
          </div>
  <!-- <table>
    <th>Skill</th><th>Rating</th>
    <div class="skills">
    <tr class="ratingList" ng-repeat="eachRating in data.skillRatings" ng-click="setSelected(eachRating)" >
          
        <td><div class="location">{{ eachRating.location }}</div></td>
        <td><div class="fatigue">{{ eachRating.fatigue }}</div></td>     
    
    </tr> -->

</div>